@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');

* {
    box-sizing: border-box;
}

body {
    /* font and colour */
    font-family: Arial, Helvetica, sans-serif;
    background-color: #666;

    display: flex;
    flex-direction: column;
    /* align everything to venter */
    align-items: center;
    justify-content: center;

    /* veiwport height */
    max-height: 100vh;
    /* position content */
    margin: 0;
}

h1 {
    color: #fff;
}

.screen {
    /* for interactivity */
    cursor: pointer;
    width: 60%;
    /* forcing css to apply black background even if its overwritten by other colours. !imporatnat make nothing able to overwrite it*/
    background-color: #000 !important;


    border-top-left-radius: 10px;
    border-top-right-radius: 10px;   
}

.controls {
    background: #333;
    /* default control text colour */
    color: #fff;
    /* match the screen width for viual alignment */
    width: 60%;

    /* bottom mirroring the top elements for consistency */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    display: flex;
    /* center controls */
    justify-content: center;
    /* virtically aligning items to middle */
    align-items: center;

    /* putting 10 pixels between the elements */
    padding: 10px;
}

.controls.btn {
    /* remove default borders around the button */
    border: 0;
    background: transparent;
    cursor: pointer;
}

.controls .fa-play {
    /* style the play button icon */
    color: #28a745;
}

.controls .fa-stop {
    /* style the stop button icon */
    color: #dc3545;
}

.controls .fa-pause {
    /* white will stand out clearly */
    color: #fff;
}

.controls .timestamp {
    color: #fff;
    font-weight: bold;
    /* adding a space from the previous button (toolbar/progress) */
    margin-left: 10px;
}

/* for accessibility impact */
.btn:focus {
    outline: 0;
}

/* technique in css for responsiveness */
/* take up more space on narrow screens */
@media (max-width: 800px) {
    .screen,
    .controls {
        width: 90%;
    }
}